footer.section-p1 
    .col 
        h4 Contact
        p 
            strong Address: 
            | 54 Nguyen Luong Bang Street, Hoa Khanh Bac Ward, Lien Chieu District, Da Nang City
        p   
            strong Phone: 
            | +84-911315464
        p   
            strong Time Zone:    
            | GMT+7 
        .follow 
            h4 Follow us 
            .icon 
                a(href="https://facebook.com/yuee.tl") 
                    i.fab.fa-facebook-f
                a(href="https://github.com/yuetl3mr") 
                    i.fa-brands.fa-github
    .col 
        h4 About 
        a(href="#") About Us  
        a(href="#") Privacy Policy  
        a(href="#") Terms & Conditions   
        a(href="#") Contact Us  
    .col 
        h4 My Account 
        a(href="") Sign In 
        a(href="") View Cart 
        a(href="") Track My Order
        a(href="") Help
    .col 
        h4 Help 
        a(href="") Support 
        a(href="") Troubleshooting 
    .copyright
        .p &copy 2024, yuetl3mr - Manga Store Website Project
