extends ../../layouts/default.pug

block main 
    section#hero 
        h4 Lorem ipsum
        h1 Wellcome! 
        h2 Lorem ipsum, dolor sit amet 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        button Shop Now
    section#product1.section-p1
        h2 Featured Products
        p Lorem ipsum, dolor sit amet consectetur
        .pro-container 
            .pro 
                img(src="./images/logo.png", alt="")
                .des
                    span manga 
                    h5 Naruto 
                    .star
                        i.fas.fa-star 
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                    h4 $68
                a(href="") 
                    i.fa-solid.fa-cart-shopping.cart