extends ../../layouts/default.pug

block main 
    section#prodetails.section-p1
        .single-pro-image
            img(src="/images/logo.png" width="100%" id="MainImg")
            .small-img-group
                .small-img-col
                    img(src="/images/logo.png" width="100%" class="small-img")
                    img(src="/images/logo.png" width="100%" class="small-img")
                    img(src="/images/logo.png" width="100%" class="small-img")
                    img(src="/images/logo.png" width="100%" class="small-img")
                    