mixin pagination(pagination)
    nav 
        ul.pagination
            - for (var i = 1; i <= pagination.totalPage; i++)
                li(class=`page-item ${pagination.currentPage == i ? "active" : ""}`)
                    button(class="page-link" button-pagination=i) #{i}