mixin pagination(pagination)
    section#pagination.section-p1
        ul.pagination
            if pagination.currentPage > 1
                li(class=`page-item`)
                    button(class="page-link" button-pagination=1) 
                        i.fa-solid.fa-angles-left
            - for (var i = 1; i <= pagination.totalPage; i++)
                li(class=`page-item ${pagination.currentPage == i ? "active" : ""}`)
                    button(class="page-link" button-pagination=i) #{i}
            li(class=`page-item`)
                button(class="page-link" button-pagination=pagination.totalPage) 
                    i.fa-solid.fa-angles-right