nav.sidebar.close
    header 
        .image-text
            span.image 
                img(src="../images/logo-2.png")
            .text.header-text 
                span.name MangaY 
                span.profession Administrator Panel
        i.fa-solid.fa-chevron-right.toggle

    .menu-bar
        .menu 
            ul.menu-link 
                li.nav-link 
                    a(href=`${prefixAdmin}/dashboard`) 
                        i.fa-solid.fa-chart-line.icon
                        span.text.nav-text  Dashboard
                li.nav-link 
                    a(href=`${prefixAdmin}/user`) 
                        i.fa-regular.fa-user.icon
                        span.text.nav-text  User
                li.nav-link 
                    a(href="") 
                        i.fa-solid.fa-cart-arrow-down.icon
                        span.text.nav-text Sometime 
                li.nav-link 
                    a(href=`${prefixAdmin}/products/create`) 
                        i.fa-solid.fa-plus.icon
                        span.text.nav-text  Add product
        .bottom-content 
            ul
                li.nav-link 
                        a(href="") 
                            i.fa-solid.fa-right-from-bracket.icon
                            span.text.nav-text  Logout